
.container-Cell{

    border: 1px solid black;
    width: 120px;
    height: 120px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;

}


.container-Cell:hover{

    border: 0.5px solid;
    padding: 0.5px;
    box-shadow: 2px 5px #131313;
}